paths:
  dataset_dir: "out/ts_train"
  save_ckpt_dir: "checkpoints/default"
  load_ckpt_path: null

training:
  lr: 8.0e-3
  min_lr: 0.0
  total_iters: 10000
  warmup_iters: 1000
  save_interval: 2000
  z: 0.0
  max_grad_norm: 1.0
  max_seq_len: 256

wandb:
  project: "cs336-a1-ts"
  name: "default"

model:
  vocab_size: 10000
  context_length: 4096
  d_model: 512
  d_ff: 1344
  rope_theta: 10000.0
  num_layers: 4
  num_heads: 16
  remove_rmsnorm: false
  use_post_norm: false
  remove_rope: false
  ffn_type: null

tokenizer:
  vocab_size: 10000
  special_tokens:
    - "<|endoftext|>"

deepspeed:
  train_batch_size: 512
  train_micro_batch_size_per_gpu: 64
  gradient_accumulation_steps: 1
  steps_per_print: 100
  wall_clock_breakdown: false
  zero_optimization:
    stage: 2
    allgather_partitions: true
    allgather_bucket_size: 2.0e+8
    overlap_comm: true
    reduce_scatter: true
    reduce_bucket_size: 2.0e+8
    contiguous_gradients: true
  gradient_clipping: 0.0
  zero_allow_untested_optimizer: true