train_batch_size: 'auto'
train_micro_batch_size_per_gpu: 'auto'
gradient_accumulation_steps: 'auto'
steps_per_print: 100
wall_clock_breakdown: false
zero_optimization:
  stage: 2
  allgather_partitions: true
  allgather_bucket_size: 2.0e+8
  overlap_comm: true
  reduce_scatter: true
  reduce_bucket_size: 2.0e+8
  contiguous_gradients: true
gradient_clipping: 0.0
zero_allow_untested_optimizer: true