name: "default"
vocab_size: 10000
context_length: 256
d_model: 512
d_ff: 1344
rope_theta: 10000.0
num_layers: 4
num_heads: 16
remove_rmsnorm: false
remove_rope: false
use_post_norm: false
ffn_type: null